<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inforce Slavych</title>
  </head>
  <body>
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
      .button {
        display: inline-block;
        padding: 1em;
        background-color: #767676;
        border-radius: 10px;
      }
      a {
        color: #fff;
        font-style: none;
        text-decoration: none;
      }
    </style>
    <h1>Inforce backend tech task by Oleksandr Slavych</h1>
    <div class="button">
      <a href="/api/books">To api</a>
    </div>
  </body>
</html>
